<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body id="body">

    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Edit Project</b></h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div>
                        <label for="id"><b>Project ID</b></label>
                        <br>
                        <input type="text" name="id" id="id" readonly></br>
                        <label for="title"><b>Title</b></label>
                        <br>
                        <input type="text" name="title" id="title"></br>
                        <label for="summary"><b>Summary</b></label>
                        <br>
                        <input type="text" name="summary" id="summary"></br>
                        <label for="budget"><b>Budget</b></label>
                        <br>
                        <input type="text" name="budget" id="budget"></br>
                        <label for="starting_date"><b>Start Date</b></label>
                        <br>
                        <input type="date" name="starting_date" id="starting_date"></br>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
    </div>

    <%- include("includes/navbar.ejs")%>

    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (projects.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No Projects found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <br>
                            <input type="text" id="myInput1" placeholder="Search by start date...">
                            <input type="text" id="myInput2" placeholder="Search by duration...">
                            <input type="text" id="myInput3" placeholder="Search by employee name...">
                            <button type="button" class="btn btn-success" onclick="myFunction()">Apply Filters</button>
                            <button type="button" class="btn btn-secondary" onclick="reset()">Reset</button>
                            <table class="table">                                
                                <thead id="thead">
                                    <tr>
                                        <th>Project ID</th>
                                        <th>Title</th>
                                        <th style="width: 250px;">Summary</th>
                                        <th>Budget</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Duration in Months</th>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>                                       
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <% projects.forEach((project, _) => { %>
                                        <tr>
                                            <td><%= project.id %></td>
                                            <td><%= project.title %></td>
                                            <td><%= project.summary %></td>
                                            <td><%= project.budget %>€</td>
                                            <td><%= project.starting_date.toDateString() %></td>
                                            <% if (project.end_date != null) { %>
                                                <td><%= project.end_date.toDateString() %></td>
                                            <% } else { %>
                                                <td>Not done yet!</td>
                                            <% } %>
                                            <td><%= project.duration %></td>
                                            <td><%= project.employee_id %></td>
                                            <td><%= project.employee_name %></td>
                                            <td>
                                                <a type="button" onclick="setModalFields(this)"
                                                    data-toggle="modal" data-id="<%= project.id %>" 
                                                    data-title="<%= project.title %>" data-summary="<%= project.summary %>"
                                                    data-budget="<%= project.budget %>" data-starting_date="<%= project.starting_date %>"
                                                    data-target="#editModal">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </td>
                                            <form method="POST" action="/projects/delete/<%= project.id %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </form>
                                            <form method="GET" action="/projects/show-researchers/<%= project.id %>">
                                                <td> 
                                                    <button style="all: unset; cursor: pointer;" type="submit"><i class="fa fa-fighter-jet"></i></button>
                                                </td>
                                            </form>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        function setModalFields(row) {
            document.getElementById("id").value = row.dataset.id;
            document.getElementById("title").value = row.dataset.title;
            document.getElementById("summary").value = row.dataset.summary;
            document.getElementById("budget").value = row.dataset.budget;
            document.getElementById("starting_date").value = row.dataset.starting_date;

            document.getElementById("modal-form").action = "/projects/update/" + row.dataset.id;
            document.getElementById("modal-form").method = "POST";
        }
    </script>   

    <script>
        function myFunction() {
          // Declare variables
          let input1, input2, input3, filter1, filter2, filter3, table, tr, td1, td2, td3, i, txtValue1, txtValue2, txtValue3;
          input1 = document.getElementById("myInput1");
          input2 = document.getElementById("myInput2");
          input3 = document.getElementById("myInput3");
          filter1 = input1.value.toUpperCase();
          filter2 = input2.value.toUpperCase();
          filter3 = input3.value.toUpperCase();
          if (filter1 == '' && filter2 == '' && filter3 == '') {
              return;
          }
          if (filter1 == '') {
            filter1 = "XXXXXX";
          }
          if (filter2 == '') {
            filter2 = "XXXXXX";
          }
          if (filter3 == '') {
            filter3 = "XXXXXX";
          }
          table = document.getElementById("card");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td1 = tr[i].getElementsByTagName("td")[4];
            td2 = tr[i].getElementsByTagName("td")[6];
            td3 = tr[i].getElementsByTagName("td")[8];
            if (td1 || td2 || td3) {
              txtValue1 = td1.textContent || td1.innerText;
              txtValue2 = td2.textContent || td2.innerText;
              txtValue3 = td3.textContent || td3.innerText;
              if ((txtValue1.toUpperCase().indexOf(filter1) > -1) || (txtValue2.toUpperCase().indexOf(filter2) > -1) || (txtValue3.toUpperCase().indexOf(filter3) > -1)) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
    </script>

    <script>
        function reset() {
            document.getElementById('myInput1').value = '';
            document.getElementById('myInput2').value = '';
            document.getElementById('myInput3').value = '';
            let table, tr;
            table = document.getElementById("card");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                tr[i].style.display = "";
            }
        }
    </script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false
            };
            /* In order to access variables sent to ejs file to script you must Parse them to string */
            /* then to parse them back to JSON */
            let messages = '<%- JSON.stringify(messages) %>';
            messages = JSON.parse(messages);
            messages.forEach(({
                type,
                value
            }) => {
                switch (type) {
                    case 'error':
                        toastr.error(value)
                        break;
                    case 'success':
                        toastr.success(value)
                        break;
                    case 'warning':
                        toastr.warning(value)
                        break;
                    default:
                        toastr.info(value)
                        break;
                }
            });
        })
    </script>
</body>

</html>