<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>

<body>
    <%- include("includes/navbar.ejs")%>
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <div class="card" id="card-container">
                    <div class="card-body" id="card">
                    <% if (researchers.length == 0) { %> 
                        <h1 style="margin-top: 5rem;">No Researchers found!</h1>
                    <% } else { %>
                        <div class="table-responsive">
                            <input type="text" id="myInput1" placeholder="Filter by researcher ID...">
                            <input type="text" id="myInput2" placeholder="Filter by researcher name...">
                            <button class="btn btn-success" onclick="myFunction()">Apply Filters</button>
                            <button type="button" class="btn btn-secondary" onclick="reset()">Reset</button>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Researcher ID</th>
                                        <th>Researcher Full Name</th>
                                        <th>Project ID</th>
                                        <th>Project Title</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% researchers.forEach((researcher, _) => { %>
                                        <tr>
                                            <td><%= researcher.researcher_id %></td>
                                            <td><%= researcher.full_name %></td>
                                            <td><%= researcher.project_id %></td>
                                            <td><%= researcher.title %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function myFunction() {
        // Declare variables
        let input1, input2, filter1, filter2, table, tr, td1, td2, i, txtValue1, txtValue2;
        input1 = document.getElementById("myInput1");
        input2 = document.getElementById("myInput2");
        filter1 = input1.value.toUpperCase();
        filter2 = input2.value.toUpperCase();
        table = document.getElementById("card");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td1 = tr[i].getElementsByTagName("td")[0];
          td2 = tr[i].getElementsByTagName("td")[1];
          if (td1 || td2) {
            txtValue1 = td1.textContent || td1.innerText;
            txtValue2 = td2.textContent || td2.innerText;
            if ((txtValue1.toUpperCase().indexOf(filter1) > -1) || (txtValue2.toUpperCase().indexOf(filter2) > -1)) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
  </script>

  <script>
      function reset() {
          document.getElementById('myInput1').value = '';
          document.getElementById('myInput2').value = '';
          let table, tr;
          table = document.getElementById("card");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
              tr[i].style.display = "";
          }
      }
  </script>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function() {
            toastr.options = {
                "closeButton": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false
            };
            /* In order to access variables sent to ejs file to script you must Parse them to string */
            /* then to parse them back to JSON */
            let messages = '<%- JSON.stringify(messages) %>';
            messages = JSON.parse(messages);
            messages.forEach(({
                type,
                value
            }) => {
                switch (type) {
                    case 'error':
                        toastr.error(value)
                        break;
                    case 'success':
                        toastr.success(value)
                        break;
                    case 'warning':
                        toastr.warning(value)
                        break;
                    default:
                        toastr.info(value)
                        break;
                }
            });
        })
    </script>
</body>
</html>